<a href="https://colab.research.google.com/github/FlaviaNdr/Python_Projects/blob/main/RegentExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Schools scoring 80% or Above in 'Common Core Algebra'

1.Import Libraries and Data

In [19]:
# Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Import Dataset
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv')

2.Data exploration and cleaning

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
# see colums names
df.columns

In [ ]:
# drop duplicate data 
df = df.drop_duplicates()
df.shape # duplicate rows found(212331.15)

In [ ]:
# drop colums that are not relevant
drop_columns=['Mean Score','Number Scoring Below 65','Number Scoring 65 or Above','Number Scoring 80 or Above','Number Scoring CR']
df.drop(drop_columns,inplace=True,axis=1)
df.head()

In [ ]:
# check missing values
df.isnull().values.any()

In [20]:
df.loc[df.isnull().any(axis=1)]

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Percent Scoring Below 65,Percent Scoring 65 or Above,Percent Scoring 80 or Above,Percent Scoring CR
18654,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,90,67.8,32.2,6.7,0
52756,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,81,67.9,32.1,6.2,0
52757,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,9,66.7,33.3,11.1,0
100865,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,5,s,s,s,na
100866,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,54,63,37,11.1,0
100867,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,31,s,s,s,na
138300,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,54,63,37,9.3,0
138301,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,36,75,25,2.8,0
209785,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,12,75,25,8.3,0
209786,84M478,Inwood Academy for Leadership Charter School,Secondary School,NaN,2015,78,66.7,33.3,6.4,0

In [21]:
# Making a list of missing values types
missing_values=['na','s']
df=pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/2014-15_To_2016-17_School-_Level_NYC_Regents_Report_For_All_Variables.csv',na_values=missing_values)
df

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
0,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Common Core Algebra,2017,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2015,16,77.9,1.0,6.3,15.0,93.8,7.0,43.8,NaN,NaN
2,01M034,P.S. 034 Franklin D. Roosevelt,K-8,Living Environment,2016,9,74.0,1.0,11.1,8.0,88.9,2.0,22.2,NaN,NaN
3,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2016,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M140,P.S. 140 Nathan Straus,K-8,Common Core Algebra,2017,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212326,84X717,Icahn Charter School,K-8,Living Environment,2016,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212327,84X717,Icahn Charter School,K-8,Living Environment,2016,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212328,84X717,Icahn Charter School,K-8,Living Environment,2017,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212329,84X717,Icahn Charter School,K-8,Living Environment,2017,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212330,84X717,Icahn Charter School,K-8,U.S. History and Government,2015,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#remove missing values from dataset
df.dropna(inplace=True)
df.shape

(69643, 15)

In [23]:
df.isnull().sum()

School DBN                     0
School Name                    0
School Level                   0
Regents Exam                   0
Year                           0
Total Tested                   0
Mean Score                     0
Number Scoring Below 65        0
Percent Scoring Below 65       0
Number Scoring 65 or Above     0
Percent Scoring 65 or Above    0
Number Scoring 80 or Above     0
Percent Scoring 80 or Above    0
Number Scoring CR              0
Percent Scoring CR             0
dtype: int64

In [24]:
df1 = df[df['Regents Exam'] == 'Common Core Algebra']
df1.head()

,School DBN,School Name,School Level,Regents Exam,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
8,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2015,49,78.4,1.0,2.0,48.0,98.0,23.0,46.9,48.0,98.0
9,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2016,51,79.0,9.0,17.6,42.0,82.4,33.0,64.7,40.0,78.4
10,01M184,P.S. 184m Shuang Wen,K-8,Common Core Algebra,2017,51,84.8,0.0,0.0,51.0,100.0,44.0,86.3,50.0,98.0
12,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2015,23,62.9,14.0,60.9,9.0,39.1,0.0,0.0,2.0,8.7
13,01M188,P.S. 188 The Island School,K-8,Common Core Algebra,2016,22,69.0,6.0,27.3,16.0,72.7,2.0,9.1,15.0,68.2

In [25]:
df1.describe()

,Year,Total Tested,Mean Score,Number Scoring Below 65,Percent Scoring Below 65,Number Scoring 65 or Above,Percent Scoring 65 or Above,Number Scoring 80 or Above,Percent Scoring 80 or Above,Number Scoring CR,Percent Scoring CR
count,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000,19549.000000
mean,2016.061282,75.950637,67.489718,28.388460,37.248509,47.562177,62.752908,13.464576,20.118425,35.255307,47.656330
std,0.811235,104.367384,9.889342,44.356729,28.887517,72.075617,28.887137,29.748212,28.532613,58.093681,32.867947
min,2015.000000,6.000000,37.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015.000000,19.000000,60.300000,3.000000,10.300000,10.000000,40.300000,0.000000,0.000000,6.000000,19.000000
50%,2016.000000,44.000000,66.200000,13.000000,35.500000,25.000000,64.500000,3.000000,6.100000,17.000000,42.600000
75%,2017.000000,94.000000,74.200000,37.000000,59.700000,59.000000,89.700000,13.000000,28.400000,42.000000,77.400000
max,2017.000000,1384.000000,96.600000,697.000000,100.000000,1042.000000,100.000000,533.000000,100.000000,872.000000,100.000000

In [ ]:
df1.plot(kind='bar',x='School Name',y='Percent Scoring 80 or Above')